[defaults]
inventory = inventory
remote_user = root
log_path = ansible.log
library = modules
roles_path = roles
ansible_managed = Ansible managed
host_key_checking = False
retry_files_save_path = .ansible-retry
stdout_callback = yaml
forks = 5
poll_interval = 15
;vault_password_file = play/files/another.txt

[ssh_conection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s